/* * {
  border: solid 2px red;
}  */

html {
  display: flex;
  align-content: center;
  height: 100%;
}

body {
  display: block;
  margin: 0;
  background-image: url(/src/images/the-claymore-hotel.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-color: rgba(82, 102, 79);
  text-align: center;
}

h1 {
  font-family: 'Cormorant SC', serif;
  font-size: 8vh;
  margin: 0;
  color: white;
  /* padding-left: 2vw; */
  text-shadow: 13px 9px 12px rgba(0,0,0,0.81);
}

h2 {
  font-family: 'Cormorant SC', serif;
  font-size: 3vh;
  color: white;
  /* padding-left: 2vw; */
  text-shadow: 13px 9px 12px rgba(0,0,0,0.81);
}

h3 {
  font-family: 'Cormorant SC', serif;
  font-size: 2vh;
  margin: 0;
  color: white;
  /* padding-left: 2vw; */
  text-shadow: 13px 9px 12px rgba(0,0,0,0.81);
}

.hotel-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  align-items: center;
  /* margin-left: 2vw; */
}