
* {
  /* border: solid 2px red; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 


html{
  padding: 30px;
  height: 100%;
}

body {
  background-image: linear-gradient(to left, rgba(82, 102, 79, 0.7), rgba(82, 102, 79, .7)), url(/src/images/the-claymore-hotel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(82, 102, 79);
}

h1 {
  font-family: 'Cormorant SC', serif;
  font-size: 6vh;
  margin: 0;
  color: white;
  text-shadow: 13px 9px 12px rgba(0,0,0,0.81);
}

h2 {
  font-family: 'Cormorant SC', serif;
  font-size: 2vh;
  margin: 0;
  color: white;
  text-shadow: 13px 9px 12px rgba(0,0,0,0.81);
}

h3 {
  font-family: 'Cormorant SC', serif;
  font-size: 3vh;
  color: black;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.507);
}

.welcome-container {
  font-family: 'Cormorant SC', serif;
  font-size: 4vh;
  margin: 0;
  color: white;
  text-shadow: 13px 9px 12px rgba(0,0,0,0.81);
}
.hotel-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  align-items: center;
}

.loading-page {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.564);
  border-radius: 12px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.claymore-house-container {
  padding: 50px;
}

.username-container {
  display: flex;
  flex-direction: column;
  padding: 6px;
  font-family: 'Cormorant SC', serif;
  font-size: 2vh;
  color: black;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.507);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  text-align: center;
}

.login-container {
  padding: 50px;
  font-size: larger;
}

.login-button {
  margin: 8px;
  padding: 20px;
}

.btn {
  background-color: white;
  color: #041d0c;
  font-family: 'Cormorant SC', serif;
  font-size: 2vh;
  letter-spacing: 6px;
  font-weight: bold;
  border-radius: 26px;
}

.btn:link { 
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  border-radius: 26px;
  position: relative;
 }

.btn:hover {
  transform: translate(-3px);
  box-shadow: 0 8px 8px #041d0cce;
  transition: all 0.3s;
}

#input{
  width: 20vw;
  height: 4vh;
  text-align: center;
  font-family: 'Cormorant SC', serif;
  font-size: 1.5vh;
}

.error-message {
  color: red;
}

/* Guest Dashboard */
.welcome-container {
  display: flex;
  font-weight: bold;
  font-size: larger;
  justify-content: center;
  padding: 60px;
}

.amount-spent { 
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 30px;
  right: 10%;
  width: 20vw;
  height: 4vh;
  background-color: white;
  color: #041d0c;
  padding: 1.4vh;
  border-radius: 4px;
  box-shadow: 0 4px 10px #041d0cce;
}

.content-box {
  display: flex;
  align-content: space-between;
  position: absolute;
  height: 90vh;
  margin-top: 8vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dashboard-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  margin-top: 2vh;
}

.new-reservation-button {
    display: flex;
    position: absolute;
    right: 0%;
    background-color: white;
    color: #041d0c;
    border-radius: 48px;
}

.dash-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 65vh;
  background-color: rgba(255, 255, 255, 0.499);
  border-radius: 20px;
  border: solid thin #041d0c;
}

.dashboard-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.booking-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-image: linear-gradient(to left, rgba(255, 255, 255, .7), rgba(220, 235, 228, 0.7)), url(../images/room-view.png);
  background-size: cover;
  color:#041d0c;
  border-radius: 10px;
  padding-left: 1vw;
  margin: 5px;
  box-shadow: 0 6px 12px #595d63;
}

.past-box {
  width: 12vw;
  height: 14vh;
}

/* New Reservation Page */
.back-dash {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 30px;
  right: 10%;
  width: 20vw;
  height: 4vh;
  background-color: white;
  color: #041d0c;
  padding: 1.4vh;
  border-radius: 4px;
  box-shadow: 0 4px 10px #041d0cce;
  cursor: pointer;
}

.available-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80vw; */
    height: 80vh;
    margin-top: 5vh;
   background-color: rgba(255, 255, 255, 0.499);
   border-radius: 10px;
}

.available-title {
  background-color: white;
  border-radius: 8px;
  width: 30%;
  height: 5vh;
  margin-top: 3vh;
  padding-top: 0.6vh;
  color: #041d0c;
  font-size: 24px;
  box-shadow: 0 4px 4px #59635d;
  text-align: center;
}

.availability-button {
  background-color: white;
  color: #041d0c;
  font-family: 'Cormorant SC', serif;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 26px;
  text-align: center;
}

.booking-form {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  margin-top: 2vh;
}

.booking-forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
}

.forms {
  background-color: rgba(255, 255, 255, 0.8);
  color: #041d0c;
  width: 20vw;
  height: 5vh;
  margin-top: 2vh;
  padding: 0.5vh;
  box-shadow: 0 4px 10px #59635d;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 

#check-button {
  margin-top: 5vh;
}

#check-button:hover {
  transform: translateYU(-3px);
  box-shadow: 0 4px 10px #59635d;
}

#check-button:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px #59635d;
}

.available-rooms-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 8vh;
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}

.available-rooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  height: 32vh;
  width: 16vw;
  box-shadow: 0 6px 12px #59635d;
}

.available-photo {
  width: 100%;
  height: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  
}

/* Flip Card */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 2vh;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 10px #595d63;
  border-radius: 6px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #093115;
  transform: rotateY(180deg);
}

.front-details {
  color: #3a1a4a;
  font-size: 22px;
  padding-top: 12%;
  text-transform: uppercase;
}

.room-type {
  font-size: 26px;
  padding-left: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}

.room-description {
  font-size: 22px;
  padding-left: 10px;
  padding-top: 15px;
  text-transform: uppercase;
}

#book-button {
  width: 3vw;
  height: auto;
  margin-bottom: 15px;
  margin-right: 15px;
}


.hidden {
  display: none;
}